[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.11.1"
djangorestframework-jwt = "==1.11.0"
requests = "==2.22.0"
django-filter = "==2.3.0"
mysqlclient = "*"
Django = "==3.1.2"
PyMySQL = "==0.10.1"
PyYAML = "==5.3"

[dev-packages]

[requires]
python_version = "3.7"
